* {
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}

#root {
    height: 100vh;
}

body {
    margin: 0;
    --bs-body-bg: black;
    box-shadow: inset 10px 10px 50px 30px black;
}

/* start big container */
.bigContainer {
    background-color: rgb(243, 135, 11);
    border: rgb(224, 167, 101) solid 3px;
    box-shadow: inset 30px 30px 100px 40px black;
    
}
/* end of big container */


/* eye stuff */
.eye {
    display: flex;
    width: 60px;
    height: 60px;
    /* bottom: 41px; */
    background: rgb(243, 135, 11);
    border-radius: 75% 0;
    transform:  rotate(45deg);
    box-shadow: 5px 5px 5px black;
    margin-left: 28px;
}

.eye:hover {
    background-color: rgb(224, 167, 101);
}

.eye:hover .pupil {
    background-color: rgb(224, 167, 101);
}

.eye:hover .core {
    background-color: red;
}

.eye-inner {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: black;
    margin-left: 8px;
    margin-top: 7px;
}
.pupil {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: rgb(243, 135, 11);
    border-radius: 50%;
    content: " ";
    box-shadow: inset 1px 1px 2px black;
}

.core {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 5px;
    height: 5px;
    background: black;
    border-radius: 50%;
    content: " ";
}
/* end eye stuff */


/* start nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-top: 20px;
}

.nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.title-pic {
    margin-left: 20px;
}

.nav li {
    border:  rgb(224, 167, 101) solid 3px;
    background-color: inherit;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 3px 3px 5px black;
    border-radius: 3%;
}

.nav li.active {
    background-color: rgb(243, 135, 11);
    border: rgb(243, 135, 11) solid 3px;
    font-size: 25px;
    font-weight: bold;
    box-shadow: inset 5px 5px 20px black;
}

.nav li:hover {
    background-color: orange;
    border: orange solid 5px;
    --bs-link-hover-color: black;
    box-shadow: inset 2px 2px 10px black;
    text-decoration: none;
}
/* end nav stuff */


/*scrolling text */
.marquee {
    font-size: 23px;
    font-weight: bold;
    text-shadow: 0 0 1px black;
}
/* end scrolling text */


/*start home page */
.homeContainer {
    display: flex;
}

.matagrub {
    border-radius: 50%;
    border: rgb(224, 167, 101) solid 4px;
    margin-top: 75px;
    margin-left: 80px;
    box-shadow: 5px 5px 5px black;
}

.home-div {
    padding: 60px;
    border: rgb(224, 167, 101) solid 3px;
    border-radius: 1%;
    text-shadow: 0px 0px 5px orange;
    margin-right: 75px;
    font-weight: bolder;
    font-size: 17px;
    background-color: #333;
    box-shadow: inset 10px 10px 100px black;
    color: rgb(224, 167, 101);
}

.home-text {
    align-items: center;
    padding: 30px;
}
/* end home stuff */


/* start footer */
.footer-box {
    background-color: #333;
    position: absolute;
    list-style: none;
    padding: 15px;
    box-shadow: inset 10px 10px 100px black;
}

.footer-text {
    text-decoration: none;
}

.footer-text a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    text-shadow: 0px 0px 5px orange;
    font-size: 18px;
}

.footer-text a:hover {
    color: rgb(224, 167, 101);
}

.icon-list {
    padding: 10px;
}

.iconBox a {
    color: black;
    font-size: 35px;
}

.iconBox a:hover {
    color: rgb(224, 167, 101);
}

.iconClass {
    filter:drop-shadow(0px 0px 10px orange);
}

.footerP {
    text-shadow: 0px 0px 10px orange;
    font-weight: bolder;
    color: black;
    font-size: 19px;
}
/* end footer */


/* start About here */
.status-text {
    padding: 20px;
    color: black;
}

.aboutImg {
    border-radius: 50%;
    border: rgb(224, 167, 101) solid 4px;
    margin-top: 75px;
    margin-left: 80px;
    box-shadow: 0px 0px 100px black;
}

.statusBox {
    border: rgb(224, 167, 101) solid 3px;
    border-radius: 1%;
    text-shadow: 0px 0px 5px orange;
    font-weight: bolder;
    font-size: 17px;
    background-color: #333;
    box-shadow: inset 10px 10px 100px black;
    color: rgb(224, 167, 101);
}

.aboutContainer {
    padding: 75px;
}

.aboutText {
    padding: 20px;
}

.aboutStatus {
    padding: 30px;
    padding-top: 120px;
    font-size: 20px;
}
/* end about */


/* start work page */
.worktitle {
    background-color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 25%;
    margin-left: 565px;
    box-shadow: inset 1px 1px 20px black;
    color: rgb(224, 167, 101);
    border: rgb(224, 167, 101) solid 3px;
    border-radius: 1%;
    text-shadow: 0px 0px 5px orange;
}

.maincontainer {
    position: relative;
    width: 250px;
    height: 400px;
    margin: 40px;
}

.workBox {
    margin-bottom: 100px;
}

.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    margin: 30px;
    margin-left: 100px;
    
}

.card-text {
    font-size: 13px;
    padding-top: 20px;
}

.thecard:hover {
    transform: rotateY(180deg);
}

.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: solid 3px rgb(224, 167, 101);
    border-radius: 1%;
    background: #333;
    box-shadow: inset 10px 10px 100px black;
    color: rgb(224, 167, 101);
    text-shadow: 0px 0px 5px orange;
    font-weight: bold;
}

.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: solid 3px rgb(224, 167, 101);
    border-radius: 1%;
    background: #333;
    box-shadow: inset 10px 10px 100px black;
    color: rgb(224, 167, 101);
    text-shadow: 0px 0px 5px orange;
    font-weight: bold;
    transform: rotateY(180deg);
}

.cardbutton {
    margin: 30px;
    margin-top: 100px;
}

.formbox {
    background-color: rgb(243, 135, 11);
    box-shadow: 0px 0px 20px black;
    color: black;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgb(224, 167, 101);
    border: solid 2px rgb(224, 167, 101);
    border-radius: 2%;
}

.formbox:hover {
    color: rgb(224, 167, 101);
    text-shadow: 0px 0px 10px orange;
}

.cardtitle {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* end work page */


/* start contact page */
.contacticon {
    list-style: none;
    font-size: 50px;
}

.contactcontainer {
    padding-left: 50px;
}

.contactlist {
    list-style: none;
    padding: 20px;
    margin-bottom: 20px;
    border: solid 3px #333;
    border-radius: 1%;
    box-shadow:  0px 0px 30px black;
}

.contactlist a {
    color: #333;
}

.contactlist:hover {
    border: solid 3px rgb(224, 167, 101);
    box-shadow:  0px 0px 30px rgb(224, 167, 101);
}

.contactlist:hover a {
    color: rgb(224, 167, 101);
    text-shadow: 0px 0px 10px black;
}

.contactlist:hover p {
    color: rgb(224, 167, 101);
    text-shadow: 0px 0px 10px black;
}

.contactlist:hover .contacticon {
    color: rgb(224, 167, 101);
}

.contactlist p {
    font-weight: bold;
    font-size: 17px;
}

.contacttitle {
    margin-top: 30px;
    margin-bottom: 40px;
    border: solid 3px rgb(224, 167, 101);
    border-radius: 1%;
    box-shadow: inset 10px 10px 100px black;
    color: rgb(224, 167, 101);
    text-shadow: 0px 0px 10px orange;
    background-color: #333;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contacttitle h1 {
    font-size: 32px;
    font-weight: bold;
}
.contacttitle h4 {
    font-weight: bold;
}

.firstcontact {
    margin-bottom: 40px;
}
/* end contact page */


/* start resume page */
.text-sphere {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1.3em;
}

.tagcloud--item {
    color: black;
    text-transform: uppercase;
}

.tagcloud--item:hover {
    color: rgb(224, 167, 101);
}

/* .tagcloud {
    font-family: 'Poppins', sans-serif;  
    font-size: 20px;
    margin: auto;
    width: 50%;
  }
  .tagcloud--item:hover {
    color: #36454F;
  } */