* {
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
    background-color: black;
}

body {
    margin: 0;
}

/* start nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-top: 20px;
}

.nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navColor {
    text-decoration: none;
    color: black;
    border: orangered solid 5px;
    background-color: orangered;
    font-size: 25px;
    font-weight: bold;
}

.nav a.active {
    background-color: white;
    border: white solid 5px;
}

.nav a:hover {
    background-color: orange;
    border: orange solid 5px;
}

