* {
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}

body {
    margin: 0;
    --bs-body-bg: black;
    box-shadow: inset 10px 10px 50px 30px black;
}

/* start big container */
.bigContainer {
    background-color: rgb(243, 135, 11);
    width: 95%;
    margin-left: 35px;
    margin-bottom: 22px;
    margin-top: 30px;
    border: rgb(224, 167, 101) solid 3px;
    box-shadow: inset 10px 10px 50px 30px black;
}
/* end of big container */


/* start nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-top: 20px;
}

.nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.title-pic {
    margin-left: 20px;
}

.nav li {
    border:  rgb(224, 167, 101) solid 3px;
    background-color: inherit;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 3px 3px 5px black;
}

.nav li.active {
    background-color: rgb(243, 135, 11);
    border: rgb(243, 135, 11) solid 3px;
    font-size: 25px;
    font-weight: bold;
    box-shadow: inset 5px 5px 20px black;
}

.nav li:hover {
    background-color: orange;
    border: orange solid 5px;
    --bs-link-hover-color: black;
    box-shadow: inset 2px 2px 10px black;
    text-decoration: none;
}
/* end nav stuff */

/*start home page */
.homeContainer {
    display: flex;
}

.matagrub {
    border-radius: 50%;
    border: rgb(224, 167, 101) solid 3px;
    margin-top: 75px;
    margin-left: 80px;

}

.home-div {
    display: flex;
    align-items: center;
    padding: 50px;
    gap: 10rem;
}

.status-box {
    border: orangered solid 3px;
    margin: 20px;
    margin-top: 30px;
    background-color: orangered;
}
.status-text {
    padding: 20px;
    color: black;
}

/* blinking text */
.blinkText {
    color: black;
    font-size: 40px;
}

element.style {
    color: black;
    font-size: 40px;
} 
/* end blinking text */

/* eye stuff */
.eye {
    display: flex;
    width: 60px;
    height: 60px;
    /* bottom: 41px; */
    background: rgb(243, 135, 11);
    border-radius: 75% 0;
    transform:  rotate(45deg);
    box-shadow: 5px 5px 5px black;
    margin-left: 28px;
}

.eye:hover {
    background-color: rgb(224, 167, 101);
}

.eye:hover .pupil {
    background-color: rgb(224, 167, 101);
}

.eye:hover .core {
    background-color: red;
}

.eye-inner {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: black;
    margin-left: 8px;
    margin-top: 7px;
}
.pupil {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: rgb(243, 135, 11);
    border-radius: 50%;
    content: " ";
    box-shadow: inset 1px 1px 2px black;
}

.core {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 5px;
    height: 5px;
    background: black;
    border-radius: 50%;
    content: " ";
}
/* end eye stuff */





